* {
    box-sizing: border-box;
}

:root {
    --header-bg: #83a17d;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* common */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.btn {
    font-family: "Public Sans";
    display: inline-block;
    color: #fff;
    background: #143c3c;
    width: 173px;
    height: 57px;
    line-height: 57px;
    text-align: center;
    border-radius: 40px;
}
/* header */
.header {
    padding-top: 48px;
    min-height: 100vh;
    /* background: var(--header-bg); */
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* logo */
.logo {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.logo__text {
    font-weight: 500;
    font-size: 20px;
}
.navbar {
    display: flex;
    gap: 88px;
    align-items: center;
}
.navbar__list {
    display: flex;
    column-gap: 38px;
    position: relative;
}
.navbar__item {
    padding: 5px 5px;
}
.navbar__link {
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
    color: #575d5e;
    transition: 0.25s;
}
.navbar__link:hover {
    color: #152427;
}
.active::after {
    left: 7px;
    top: 50px;
    position: absolute;
    display: inline-block;
    content: "";
    width: 16px;
    height: 2px;
    background-color: #143c3c;
}
.header-info {
    justify-content: space-between;
    display: flex;
    gap: 76px;
    width: 35%;
    margin-top: 74px;
}

.header-info__heading {
    color: #152427;
    /* Heading/H2 50px Extra bold */
    font-family: "Public Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px; /* 120% */
    width: 368px;
    height: 180px;
    margin-bottom: 20px;
}
.header-info__desc {
    color: #575d5e;
    /* Paragraph/h2 18px medium */
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
    margin-bottom: 42px;
}
.header-info__row {
    display: flex;
    align-items: center;
}
.playvideo {
    margin-left: 43px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: #83a17d;
    border-radius: 50%;
}
.watch {
    display: inline-block;
    color: #152427;
    /* Paragraph/h3 18px bold */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}
.header-info__media {
    margin-left: 76px;
}
.header_info--images {
    display: flex;
}
.header_info--img {
    display: block;
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
}
