* {
    box-sizing: border-box;
}

:root {
    --header-bg: #83a17d;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* common */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.btn {
    font-family: "Public Sans";
    display: inline-block;
    color: #fff;
    background: #143c3c;
    width: 173px;
    height: 57px;
    line-height: 57px;
    text-align: center;
    border-radius: 40px;
}
/* header */
.header {
    padding-top: 48px;
    /* min-height: 100vh; */
    /* background: var(--header-bg); */
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* logo */
.logo {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.logo__text {
    font-weight: 500;
    font-size: 20px;
}
.navbar {
    display: flex;
    gap: 88px;
    align-items: center;
}
.navbar__list {
    display: flex;
    column-gap: 38px;
    position: relative;
}
.navbar__item {
    padding: 5px 5px;
}
.navbar__link {
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
    color: #575d5e;
    transition: 0.25s;
}
.navbar__link:hover {
    color: #152427;
}
.active::after {
    left: 7px;
    top: 50px;
    position: absolute;
    display: inline-block;
    content: "";
    width: 16px;
    height: 2px;
    background-color: #143c3c;
}
.header-info {
    margin-top: 74px;
    display: flex;
    justify-content: space-between;
}
.header-info__content {
    width: 35%;
}
.header-info__heading {
    color: #152427;
    /* Heading/H2 50px Extra bold */
    font-family: "Public Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px; /* 120% */
    width: 368px;
    height: 180px;
    margin-bottom: 20px;
}
.header-info__desc {
    color: #575d5e;
    /* Paragraph/h2 18px medium */
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
    margin-bottom: 42px;
}
.header-info__row {
    display: flex;
    align-items: center;
}
.header-info__action {
    margin-right: 43px;
}

.playvideo {
    /* /* margin-left: 43px; */
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: #83a17d;
    border-radius: 50%;
}
.watch {
    display: inline-block;
    color: #152427;
    /* Paragraph/h3 18px bold */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}
.header-info__media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    margin-right: 23px;
}
.header_info--img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
}
.header_info--images:nth-last-of-type(2) {
    margin-top: 77px;
}
.vendor {
    margin-top: 130px;
}
.list-vendor {
    display: flex;
    padding: 76px 122px 77px 121px;
    /* justify-content: space-between; */
    align-items: center;
    background: #e2eddf;
    border-radius: 100.5px;
}
.list-vendor__google {
    color: #143c3c;
    font-family: Poppins;
    font-size: 31px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 47px;
}
.list-vendor__slack {
    display: flex;
    gap: 5px;
    margin-right: 51px;
}
.list-vendor__slack span {
    color: #143c3c;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.list-vendor__agworld {
    display: flex;
    gap: 11px;
    align-items: center;
    margin-right: 64px;
}
.list-vendor__agworld span {
    color: #163c35;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.list-vendor__rio {
    margin-right: 63px;
    color: #143c3c;
    font-family: "Sonsie One";
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.lits-vendor__heroku {
    display: flex;
    gap: 14px;
}
.lits-vendor__heroku span {
    color: #143c3c;
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.995px;
}
/* service */
.service {
    margin-top: 106px;
}
.service__heading {
    /* display: inline-block; */
    color: #152427;
    position: relative;
    font-family: poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    padding-left: 42px;
}
.service__heading::before {
    content: " ";
    position: absolute;
    display: block;
    width: 25px;
    height: 1px;
    background-color: #152427;
    top: 5px;
}
.service__action {
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
    align-items: center;
}
.service__title {
    /* display: inline-block; */
    /* Heading/H3 42px bold */
    font-family: Poppins;
    position: relative;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px; /* 123.81% */
    max-width: 520px;
}
.service__title::after {
    position: absolute;
    bottom: 19px;
    content: "";
    right: 103px;
    display: block;
    width: 66px;
    height: 2px;
    background-color: #152427;
}
.control {
    display: flex;
    gap: 17px;
}
.control__btn {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #e2eddf;
    border: none;
    color: #163c35;
    transition: 0.25s;
}
.control__btn:hover {
    background: #143c3c;
    color: #ffff;
}
.control-icon {
    rotate: 180deg;
}
.list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
}
.list-item {
    border-radius: 20px 20px 20px 20px;
}
.list-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.list-item__image {
    width: 370px;
    height: 318px;
    object-fit: cover;
    margin-bottom: 24px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}
.list-item__heder {
    color: #152427;
    /* Heading/h1 22px semibold */
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 100% */
    padding-left: 18px;
}
.list-item__desc {
    color: #7d8188;
    /* Paragraph/h6 14px medium */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    margin-top: 18px;
    max-width: 268px;
    padding-bottom: 23px;
    padding-left: 18px;
}
